@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --dark-blue: #002772;
    --light-pink: #FDE2FF;
    --dark: #1E1E1E;
    --purple: #720060;
    --light-blue: #D6E6FF;
    --dark-brown: #3F3F3F;
    --grey: #DCDCDC;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 832px;

    font-family: "Inter", sans-serif;
}